<div class="dashboard">
  <header class="dashboard-header">
    <h2>My Movies</h2>
    <button mat-icon-button (click)="logout()" aria-label="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </header>

  <mat-form-field appearance="outline" class="search-bar">
    <mat-label>Search by title</mat-label>
    <input matInput [(ngModel)]="searchQuery" (keyup.enter)="searchOmdb()" />
    <button
      mat-icon-button
      matSuffix
      aria-label="Search"
      (click)="searchOmdb()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <section class="movies-section">
    <h3>Saved Movies</h3>
    <div class="movie-grid-local">
      <mat-card *ngFor="let movie of localMovies" class="movie-card">
        <button
          class="favorite-button"
          mat-icon-button
          (click)="toggleFavorite(movie.imdbID)"
          aria-label="Favorite"
        >
          <mat-icon>
            {{ isFavorite(movie.imdbID) ? "favorite" : "favorite_border" }}
          </mat-icon>
        </button>
        <img mat-card-image [src]="movie.Poster || movie.posterUrl" />
        <mat-card-title>{{ movie.Title || movie.title }}</mat-card-title>
      </mat-card>
    </div>

    <h3>OMDb Results</h3>
    <div class="movie-grid">
      <mat-card *ngFor="let movie of externalMovies" class="movie-card">
        <button
          class="favorite-button"
          mat-icon-button
          (click)="toggleFavorite(movie.imdbID)"
          aria-label="Favorite"
        >
          <mat-icon>
            {{ isFavorite(movie.imdbID) ? "favorite" : "favorite_border" }}
          </mat-icon>
        </button>
        <img
          mat-card-image
          [src]="movie.Poster"
          *ngIf="movie.Poster !== 'N/A'"
        />
        <mat-card-title>{{ movie.Title }}</mat-card-title>

        <div class="movie-info">
          <mat-card-subtitle>Type: {{ movie.Type }}</mat-card-subtitle>
          <mat-card-subtitle>Year: {{ movie.Year }}</mat-card-subtitle>
        </div>

        <mat-card-subtitle>imdbID: {{ movie.imdbID }}</mat-card-subtitle>
      </mat-card>
    </div>
  </section>
</div>
